body {
    background:coral;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    position:absolute ;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 40px;
    background:#191919;
    font-family: 'Oswald', sans-serif;
}


.entry {
    background: rgba(255, 255, 255, 0.034);
    margin-top: 30px;
    color: #ffffff;
}

form {
    grid-area: form;
    display: grid;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

#entryHolder {
    padding: 15px;
}

#date::before {
    content: "Now Date : ";
}

#temp::before{
    content: "Temperature : ";
}

#content::before {
    content: "You're feeling ";
}


.title {
    display: inline-flex;
    margin-top: 10px;
    justify-content: center;
    align-self: center;
    width: 100%;
} 



label {
    color: #fffff8;
    font-size: 20px;
    
}

input,textarea {
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #464f52;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

button {    
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgba(243, 81, 32, 0.795);
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}


h1 {
    font-size: 36px;
    color: #ffffff;
}
/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    width: 280px;
    border-color: rgba(243, 81, 32, 0.795);
}
button:hover{
    background: rgba(243, 81, 32, 0.795);
}


/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}
::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}